{
  "presets": [
    ["es2015", {"modules": false}],
    "es2016",
    "stage-1",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        ["__coverage__", {"ignore": "*.+(test|stub).*"}]
      ]
    }
  }
}
